.TutorialBG {
  top: 100vh; /* 초기 위치를 아래로 지정합니다. */
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
  animation: slideUp 0s ease-out 0.8s forwards; /* 애니메이션 적용 */
}
.TutorialSelect {
  z-index: 5000 !important;
  position: relative;
  /* box-shadow: 0 0 30px 5px #fff; */
  /* text-shadow: 0 0 30px 5px #fff; */
}

.TutorialBtn {
  z-index: 5001;
  position: fixed;
  top: 0;
  left: 0;
}
.TutorialBtn2 {
  position: absolute;
  z-index: 6500;
}
.TutorialSelect::before {
  content: "";
  position: absolute;
  top: -20px; /* 위로 이동하여 텍스트 위에 표시 */
  left: 50%; /* 가운데로 정렬 */
  transform: translateX(-50%); /* 수평 가운데 정렬 */
  width: 0;
  height: 0;
  border-left: 12px solid transparent; /* 삼각형 모양 만들기 */
  border-right: 12px solid transparent;
  border-top: 20px solid rgb(203, 52, 52); /* 빨간색으로 지정 */
  border-radius: 2px;
  z-index: 2; /* 다른 내용 위에 표시하기 위해 */
  animation: bounce 2s infinite alternate;
}
.TutorialInfo {
  position: absolute;
  background-color: rgb(222, 222, 222);
  box-shadow: 1px 1px 5px black;
  z-index: 6000;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  border: unset !important;
  min-width: 200px !important;
  max-width: 400px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.TutorialInfo3 {
  margin: 10px;
}
.TutorialInfo6 {
  left: 25vw;
}
.TutorialInfo7 {
  right: 0;
}
.TutorialBtnBox {
  margin-left: auto;
}
.TutorialBtnBox button {
  background-color: beige;
}
.TutorialDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 200px;
}
.T1Txt {
  font-size: 12px;
  margin: 10px;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-5px); /* 위로 5px 이동 */
  }
}

@keyframes slideUp {
  from {
    top: 100vh; /* 시작 위치 */
  }
  to {
    top: 0; /* 최종 위치 */
  }
}
