.demoBtn {
  width: 295px;
  height: 56px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #abfe25;
  color: rgb(44, 44, 44);
  font-size: 20px;
  /* text-shadow: 1px 1px 2px white, -1px -1px 3px white; */
  font-weight: 900;
  /* box-shadow: 1px 1px 5px rgb(124, 124, 124); */
  font-family: TheJamsil5;
}
